/* Ajuste del contenedor para incluir el menú lateral */
.page-container {
  display: flex;
}

/* Contenedor del detalle del gato */
.cat-detail-container {
  width: calc(100vw - 200px); /* Ajusta el ancho considerando el menú lateral */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff9f2;
  margin-left: 200px; /* Espacio para el menú lateral */
}

.cat-detail-container-not-found {
  width: 100vw ; /* Ajusta el ancho considerando el menú lateral */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff9f2;
}

/* Tarjeta del detalle del gato */
.cat-detail {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff9f2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cat-detail-buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Asegura que estén alineados verticalmente */
  gap: 10px; /* Espacio entre botones */
  margin-top: 20px; /* Espacio superior */
  flex-wrap: wrap; /* Evita que se expandan demasiado */
  width: fit-content; /* Limita el ancho al contenido */
  margin-left: auto; /* Centra el contenedor de los botones */
  margin-right: auto; /* Centra el contenedor de los botones */
}


/* Foto del gato con sombra sutil */
.cat-photo-detail {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}

/* Botones */
.back-button, .edit-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  cursor: pointer;
}

/* Botón de editar solo para admin */
.edit-button {
  background-color: #007bff;
  color: white;
  margin-right: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Botón de volver */
.back-button {
  background-color: #ff6f61;
  color: white;
}

.back-button:hover {
  background-color: #e65c50;
}

/* Botón de Postear un Michi */
.post-cat-button {
  display: inline-block;
  text-align: center;
  background-color: #ff6f61; /* Color llamativo */
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.post-cat-button:hover {
  background-color: #e65c50;
  transform: scale(1.05);
}
