/* Contenedor principal que usa Flexbox para el menú lateral y el contenido */
.page-container {
  display: flex;
}

.cat-list-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #fff9f2; /* Mantiene la paleta de colores cálida */
    display: flex;
    flex: 1;
    padding-top: 20px;
    margin-left: 40px; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  /* Contenedor de la lista de gatos */
  .cat-list {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff9f2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .cat-list h2 {
    text-align: center;
    color: #ff6f61;
    margin-bottom: 20px;
  }
  
  /* Ajuste de la lista para 2 columnas usando Grid */
  .cat-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    /* Cambia el minmax a tu gusto para controlar el ancho mínimo */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Cada elemento de la lista */
  .cat-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
  }
  
  /* Efecto hover */
  .cat-item:hover {
    background-color: #f9f1e9;
  }
  
  .cat-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cat-info h3 {
    margin: 0 0 5px 0;
    color: #333;
  }
  
  .cat-info p {
    margin: 0 0 10px 0;
    color: #555;
  }
  .cat-info .cat-link {
    display: inline-block;
    margin-bottom: 8px; /* Añade espacio entre los enlaces */
  }
  
  .cat-info a {
    text-decoration: none;
    color: #ff6f61;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .cat-info a:hover {
    color: #e65c50;
  }
  